{% extends 'base_new.html' %}

{% block heading %}
Add a feature
{% endblock %}

{% block content %}
<h1 xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">Add a new feature</h1>
<form method="post">
    <div class="form-group">
        <textarea id = "description" name="description" placeholder="Describe the feature"
                  class="form-control">{{ request.form['description'] }}</textarea>
        <label for="description"></label>
    </div>
    <div>
        <input type="text" name = "reference" id="reference" placeholder="Provide a reference"
               class="form-control">{{ request.form['reference'] }} </input>
        <label for="reference"></label>
    </div>
    <input type="checkbox" class="form-check-input" id="AT-1" name="AT-1" value="1">
    <label for="AT-1">AT-1</label><br>
    <input type="checkbox" class="form-check-input" id="AT-2" name="AT-2" value="1">
    <label for="AT-2">AT-2</label><br>
    <input type="checkbox" class="form-check-input" id="AB-1" name="AB-1" value="1">
    <label for="AB-1">AB-1</label><br>
    <input type="checkbox" class="form-check-input" id="AB-2" name="AB-2" value="1">
    <label for="AB-2">AB-2</label><br>
    <input type="checkbox" class="form-check-input" id="AB-3" name="AB-3" value="1">
    <label for="AB-3">AB-3</label><br>
    <input type="checkbox" class="form-check-input" id="AB-4" name="AB-4" value="1">
    <label for="AB-4">AB-4</label><br><br>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>


{% endblock %}