{% extends 'base_new.html' %}

{% block heading %}
Identifying Artefact Tampering
{% endblock %}

{% block content %}
    <div class=".page-section">
        <h1># whoami</h1>
        <p>I'm Chris, a PhD student studying Digital Forensics at the Open University. I am interested in how digital
            artefacts can be manipulated by suspects to try and hide their actions and mislead investigators. My
            project is primarily focussed on understanding the ways in which such tampering activity can be detected.
            This broadly fits under the theme of what I have termed 'Zero Trust Digital Forensics'. In the first
            published paper on this, I defined this concept as <strong>'A strategy adopted by investigators whereby
                each aspect of an investigation is assumed to be unreliable until verified'</strong>. <br><br>
            Take a look at the <a href="/papers">Published Work</a> section which has more details about the research paper published on this subject for more information.</p>
        <br>
        <p>On this site, I'll capture various aspects of my project as it develops. If you have any questions about the research, please feel free to get in touch via <a href="mailto:christopher.neale@open.ac.uk">email.</a></p>
        <br>
        <p>All of the code / research data generated as part of this project will feature on my <a href="https://github.com/cn3759">GitHub.</a></p>
    </div>
{% endblock %}