{% extends 'base_new.html' %}

{% block heading %}
Published work
{% endblock %}


{% block content %}

    <p> We have published several papers under the Zero Trust Forensics project. You can find details of these below:</p>
    <p>
        <h3>The case for Zero Trust Digital Forensics</h3>
        <p>In this paper, we introduce the concept of Zero Trust in the context of Digital Forensics, identifying several areas of potential future research </p>
        <iframe src="https://www.sciencedirect.com/science/article/pii/S266628172200021X" width="100%" height="750px"></iframe>
    </p>
    <p>
        <h3>Fool me once: A systematic review of techniques to authenticate digital artefacts</h3>
        <p>In this paper, we conduct a systematic review of existing techniques for authenticating digital artefacts to identify tampering</p>
        <iframe src="https://www.sciencedirect.com/science/article/pii/S2666281723000173" width="100%" height="750px"></iframe>
    </p>

{% endblock %}